<mat-toolbar class="header" color="primary">

  <h1 class="title">Grupo Fácil</h1>

</mat-toolbar>

<mat-tab-group>

  <mat-tab label="Cadastro de Clientes">
    <div class="center-form">
      <form class="cad-form">
        <div class="form-group">
          <label for="exampleFormControlInput1">Cliente</label>
          <input type="text" class="form-control" id="idCliente" placeholder="Código do Cliente" size="10">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Example select</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect2">Example multiple select</label>
          <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Example textarea</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </form>

    </div>
  </mat-tab>

  <mat-tab label="Lançamentos">
    <div class="center-form">
      <form class="cad-form">
        <div class="form-group">
          <label for="exampleFormControlInput1">Cliente</label>
          <input type="text" class="form-control" id="idCliente" placeholder="Código do Cliente" size="10">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Example select</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect2">Example multiple select</label>
          <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Example textarea</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </form>
    </div>

  </mat-tab>

  <mat-tab label="Geração de Relatório">
    <div class="center-form">
      <form class="cad-form">
        <div class="form-group">
          <label for="exampleFormControlInput1">Cliente</label>
          <input type="text" class="form-control" id="idCliente" placeholder="Código do Cliente" size="10">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Example select</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect2">Example multiple select</label>
          <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Example textarea</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </form>
    </div>
  </mat-tab>

</mat-tab-group>

<!-- Footer -->
<footer class="bg-secondary text-white">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(11, 19, 129, 0.678);">
    © 2022 Copyright:
    <a class="text-white" href="https://grupofacil.net.br/">Grupo Fácil</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->